@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-title;
    font-weight: 500;
  }
  h2 {
    @apply font-title;
    font-weight: 500;
  }
  h3 {
    @apply font-title;
    font-weight: 500;
  }
}

@layer components {
  .avatar,
  .prose .avatar {
    @apply m-0 mr-4;
  }

  .bg-space {
    background: url("/assets/bg/space-footer.jpg") no-repeat;
    background-size: cover;
    border-top: thick solid black;
    color: wheat;
  }
}

@layer utilities {
  @responsive {
    .h-tight-2 {
      height: 2.4em;
    }
  }
}
