@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer base {
  h1 {
    @apply font-title;
    font-weight: 500;
  }
  h2 {
    @apply font-title;
    font-weight: 500;
  }
  h3 {
    @apply font-title;
    font-weight: 500;
  }
}